h1 {
  font-size: 48px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 28px;
}
h1,
h2,
h3 {
  text-align: center;
}
body {
  box-sizing: border-box;
  padding: 48px;
  position: relative;
}

.pfp-section {
  width: 100%;
  height: 20vh;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.pfp {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  background-color: black;
}
.bball {
  width: 200px;
  position: absolute;
}
.bball1 {
  width: 200px;
  position: absolute;
  right: 50px;
}
.pfp-img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
}
.abt-me {
  text-align: center;
  margin-top: 0px;
}
.about-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.about-me-section {
  text-align: center;
  font-size: 24px;
  width: 80%;
}
.music-section {
  width: 80%;
  height: fit-content;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  border-radius: 15px;
}
#music-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.music-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.left-section {
  width: 50%;
  padding: 12px;
  border-right: 2px solid black;
}
.right-section {
  width: 50%;
  padding: 12px;
}
ol li {
  list-style-type: decimal;
  padding-left: 5px;
  color: black;
}
.artist-li {
  height: 75px;
  margin: 18px;
}
.content {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 20px;
  font-size: 20px;
}
.artist-img {
  height: 60px;
  width: 60px;
  background-color: rgb(0, 0, 0);
}
.email-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}
form {
  border: 2px solid black;
  padding: 16px;
  border-radius: 15px;
  width: 50%;
  position: relative;
  max-width: 450px;
}
input {
  border-radius: 10px;
  width: 300px;
  height: 25px;
  border: 1px solid black;
  padding-left: 10px;
}
textarea {
  height: 100px;
  width: 300px;
  border-radius: 10px;
  padding-left: 12px;
  padding-top: 8px;
}
label {
  font-size: 24px;
}

button {
  height: 35px;
  width: 130px;
  border-radius: 10px;
}

.form-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.button-row {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
#contact-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
